<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>boundary.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabsController</servlet-name>
        <servlet-class>boundary.instructor.LabsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGroup</servlet-name>
        <servlet-class>adminServlets.AddGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstructorMainPage</servlet-name>
        <servlet-class>boundary.instructor.InstructorMainPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGroup</servlet-name>
        <servlet-class>adminServlets.UpdateGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseBoundary</servlet-name>
        <servlet-class>boundary.instructor.courseBoundary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LapPageInitiator</servlet-name>
        <servlet-class>boundary.instructor.LapPageInitiator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueuesBoundary</servlet-name>
        <servlet-class>boundary.instructor.QueuesBoundary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartUpload</servlet-name>
        <servlet-class>boundary.instructor.StartUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseLab</servlet-name>
        <servlet-class>boundary.instructor.CloseLab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationBoundary</servlet-name>
        <servlet-class>boundary.instructor.NotificationBoundary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadAssignment</servlet-name>
        <servlet-class>boundary.instructor.DownloadAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotifyDelivery</servlet-name>
        <servlet-class>boundary.instructor.NotifyDelivery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotifyAssistance</servlet-name>
        <servlet-class>boundary.instructor.NotifyAssistance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShiftQueues</servlet-name>
        <servlet-class>boundary.instructor.ShiftQueues</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InstructorMainPage</servlet-name>
        <url-pattern>/InstructorMainPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabsController</servlet-name>
        <url-pattern>/LabsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateGroupPrepration</servlet-name>
        <servlet-class>adminServlets.CreateGroupPrepration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateGroupPrepration</servlet-name>
        <url-pattern>/CreateGroupPrepration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGroup</servlet-name>
        <url-pattern>/AddGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGroup</servlet-name>
        <url-pattern>/UpdateGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseBoundary</servlet-name>
        <url-pattern>/courseBoundary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LapPageInitiator</servlet-name>
        <url-pattern>/LapPageInitiator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueuesBoundary</servlet-name>
        <url-pattern>/QueuesBoundary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartUpload</servlet-name>
        <url-pattern>/StartUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseLab</servlet-name>
        <url-pattern>/CloseLab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationBoundary</servlet-name>
        <url-pattern>/NotificationBoundary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadAssignment</servlet-name>
        <url-pattern>/DownloadAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotifyDelivery</servlet-name>
        <url-pattern>/NotifyDelivery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotifyAssistance</servlet-name>
        <url-pattern>/NotifyAssistance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShiftQueues</servlet-name>
        <url-pattern>/ShiftQueues</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>signin.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>welcomeIns.jsp</web-resource-name>
            <description/>
            <url-pattern>/welcomeIns.jsp</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>labs.jsp</web-resource-name>
            <description/>
            <url-pattern>/labs.jsp</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
</web-app>
